* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/******** NAVBAR ********/  

/******** END NAVBAR ********/

/******** HERO PAGE ********/  

/******** END HERO PAGER ********/

/******** BENEFITS ********/  

/******** END BENEFITS ********/

/******** SERVICES ********/  

/******** END SERVICES ********/

/******** RATES ********/  

/******** END RATES ********/

/******** RENT VEHICLE ********/  

/******** END RENT VEHICLE ********/

/******** US ********/  

/******** END US ********/

/******** FOOTER ********/  

/******** END FOOTER ********/

@media (min-width: 576px) {
    /******** NAVBAR ********/  

    /******** END NAVBAR ********/

    /******** HERO PAGE ********/  

    /******** END HERO PAGER ********/

    /******** BENEFITS ********/  

    /******** END BENEFITS ********/

    /******** RATES ********/  

    /******** END RATES ********/

    /******** RENT VEHICLE ********/  

    /******** END RENT VEHICLE ********/

    /******** US ********/  

    /******** END US ********/

    /******** FOOTER ********/  

    /******** END FOOTER ********/
}

@media (min-width: 768px) {
    /******** NAVBAR ********/  

    /******** END NAVBAR ********/

    /******** HERO PAGE ********/  

    /******** END HERO PAGER ********/

    /******** BENEFITS ********/  

    /******** END BENEFITS ********/

    /******** SERVICES ********/  

    /******** END SERVICES ********/

    /******** RATES ********/  

    /******** END RATES ********/

    /******** RENT VEHICLE ********/  

    /******** END RENT VEHICLE ********/

    /******** US ********/  

    /******** END US ********/

    /******** FOOTER ********/  

    /******** END FOOTER ********/
}

@media (min-width: 992px) {
    /******** NAVBAR ********/  

    /******** END NAVBAR ********/

    /******** HERO PAGE ********/  

    /******** END HERO PAGER ********/

    /******** BENEFITS ********/  

    /******** END BENEFITS ********/

    /******** SERVICES ********/  

    /******** END SERVICES ********/

    /******** RATES ********/  

    /******** END RATES ********/   

    /******** RENT VEHICLE ********/  

    /******** END RENT VEHICLE ********/

    /******** US ********/  

    /******** END US ********/

    /******** FOOTER ********/  

    /******** END FOOTER ********/
}

@media (min-width: 1200px) {
    /******** NAVBAR ********/  

    /******** END NAVBAR ********/

    /******** HERO PAGE ********/  

    /******** END HERO PAGER ********/

    /******** BENEFITS ********/  

    /******** END BENEFITS ********/

    /******** SERVICES ********/  

    /******** END SERVICES ********/

    /******** RATES ********/  

    /******** END RATES ********/

    /******** RENT VEHICLE ********/  

    /******** END RENT VEHICLE ********/

    /******** US ********/  

    /******** END US ********/

    /******** FOOTER ********/  

    /******** END FOOTER ********/
}